body {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}
input[type="text"] {
  width: 300px;
  height: 20px;
}
input[type="number"] {
  width: 50px;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#text {
  right: 200px;
  position: absolute;
  margin: 0;
  left:200px;
   
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: "";
  background-image: url('./%D7%A8%D7%A7%D7%A2%20%D7%9C%D7%90%D7%A4%D7%9C%D7%99%D7%A7%D7%A6%D7%99%D7%94%20-%20%D7%98%D7%95%D7%A8%D7%A7%D7%99%D7%96%20-%20T2D-25%25.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9; /* Adjust this value from 0 (fully transparent) to 1 (fully opaque) */
  z-index: -1;
}


h4{
   margin: 0; 
}
#allContent{
      visibility: hidden;
          }
#waitArea{
       width: 100px;
        height: 100px;
    margin: 0 auto;
      position: relative;

          }
#waitText{
          position: absolute;
 
    font-family:sans-serif;
    color:blue;
    text-align: center;
  animation: bounce 2s infinite;
    
          }
.loader {
      position: absolute;

      margin: 0 auto; 
        width: 100px;
        height: 100px;
        margin: 0 auto; 
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #3498db;
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
        @keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-30px);
          }
          60% {
            transform: translateY(-15px);
          }
        }

